{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <section class="container-fluid">
        {% for article in articles %}
        <article class="row justify-content-center">
            <a href="{{ path('article_details', {'id': article.id }) }}" title ="article/{{ article.id }} ici le slug de l'article">
                <img src="{{ asset('img/'~article.cover) }}" alt="{{ article.title }}">
                <div>{{ article.title }}</div>
            </a>
        </article>
        {% endfor %}

    </section>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Cover</th>
                <th>Date_created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.cover }}</td>
                <td>{{ article.dateCreated ? article.dateCreated|date('d-m-Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('article_details', {'id': article.id}) }}">Voir</a>
                    <a href="{{ path('article_editer', {'id': article.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
